body {
  margin: 0;
  padding: 0;
  background-color: rgb(85, 158, 188);
  color: rgb(220, 231, 241);
  /* font-size: 1rem; */
}

h1 {
  flex: none;
  height: 100%;
  margin: 0;
  text-align: center;
  writing-mode: vertical-lr;
}

label {
  margin-right: 10px;
}

.page-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.sketch-app-container {
  align-self: flex-end;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.row {
  flex: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.sketch-board {
  text-align: center;
  margin: 0 auto;
  justify-content: stretch;
  align-items: stretch;
}
.sketch-pixels {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 0;
  width: 480px;
  height: 480px;
  background-color: white;
  border: 1px solid black;
}

.sketch-controls {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: auto 0; */
}

.control-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px 20px;
}

.control-container > * {
  flex: 1;
}

.control {
  margin: 0;
}
.pixel {
  flex: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pixel-border {
  border: 1px solid rgb(216, 215, 215);
}

.context-menu {
  position: absolute;
  z-index: 100;
  border-radius: 5px;
  display: none;
  text-align: left;
  background-color: rgb(85, 158, 188);
  width: max-content;
  height: max-content;
  margin: 0;
}

.context-menu.visible {
  display: block;
}

.context-menu > div {
  padding: 10px;
  color: rgb(255, 255, 255);
  border-radius: inherit;
}

.context-menu > hr {
  padding: 0;
  margin: 0;
}

.context-menu > div:hover {
  background-color: rgb(111, 189, 220);
}

.howto {
  font-size: 1.2rem;
}
