h1 {
  text-align: center;
}

.sketch-app-container {
  display: flex;
  justify-content: space-between;
}

.row {
  flex: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.sketch-board {
  text-align: center;
  margin: 0 auto;
  justify-content: stretch;
  align-items: stretch;
}
.sketch-pixels {
  /* flex: none; */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-content: space-between; */
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 0;
  width: 480px;
  height: 480px;
  background-color: white;
  border: 1px solid black;
}

.sketch-controls {
}

.control {
  margin-left: 20px;
}

.pixel {
  flex: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pixel-border {
  border: 1px solid rgb(216, 215, 215);
}

.special-key {
  color: blue;
}
