body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(85, 158, 188);
  color: rgb(220, 231, 241);
  cursor: default;
  caret-color: aqua;
}

h1 {
  font-size: 2rem;
  flex: none;
  /* height: 100%; */
  margin: 0;
  text-align: center;
  writing-mode: vertical-lr;
}

label {
  /* flex: none; */
  margin-right: 10px;
  min-width: max-content;
}

.page-container {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sketch-app-container {
  padding-top: 5vh;
  /* align-self: stretch; */
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.row {
  flex: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.sketch-board {
  text-align: center;
  margin: 0 auto;
  justify-content: stretch;
  align-items: stretch;
}

.sketch-pixels {
  cursor: url("images/pen-icon.png"), default;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 0;
  width: 480px;
  height: 480px;
  background-color: white;
  border: 1px solid black;
}

.sketch-controls {
  min-width: 25%;
  /* padding: 10px; */
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.control-container {
  flex: none;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 10px 0 10px 10px;
}

.control-container > * {
  flex: 1;
}

.control {
  margin: 0;
}

.pixel {
  flex: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pixel-border {
  border: 1px solid rgb(216, 215, 215);
}

.context-menu {
  position: absolute;
  z-index: 100;
  border: 2px solid rgb(78, 78, 78);
  border-radius: 5px;
  display: none;
  text-align: left;
  background-color: rgb(85, 158, 188);
  width: max-content;
  height: max-content;
  margin: 0;
}

.context-menu.visible {
  display: block;
}

.context-menu > div {
  /* margin: 10px; */
  padding: 20px;
  color: rgb(255, 255, 255);
  border-radius: inherit;
}

.context-menu > hr {
  border: 1px solid rgb(78, 78, 78);
  padding: 0;
  margin: 0;
}

.context-menu > div:hover {
  background-color: rgb(111, 189, 220);
}

.color-picker {
  flex: none;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -3px;
  opacity: 0;
}

.color-circle,
.swap-colors {
  flex: none;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid beige;
}

.color-circle {
  /* z-index: 1000; */
  /* pointer-events: none; */
}

#brush-color-circle-one {
  background-color: black;
}

#brush-color-circle-two {
  background-color: red;
}

#eraser-color-circle {
  background-color: white;
  border-color: gray;
}

.swap-colors-container {
  padding: 0;
  position: relative;
}

.swap-colors {
  position: absolute;
  right: 35%;
  margin: 0;
  color: blue;
  background-color: azure;
  text-align: center;
}

.brush-color-container-one {
  padding-bottom: 0;
}

.brush-color-container-two {
  margin-bottom: 0;
}

.eraser-color-container {
  margin-top: 30px;
}

.color-container {
  position: relative;
}

.dimention-container {
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
}

.import-sketch {
  display: none;
}

.aside {
  position: fixed;
  right: -250px;
  top: 0;
  display: flex;
  height: 100%;
  overflow: hidden;
  /* display: none; */
  width: 300px;
  margin: 0;
  background-color: rgb(35, 72, 86);
  transition: 0.4s;
}

.aside:hover,
.aside-show {
  right: 0;
  transition: 0.4s;
}

.aside:hover .question-sign {
  opacity: 0;
  transition: 1.5s;
}

.help-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 181, 107);
  width: 100%;
}

.help-table {
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  border: 1px solid black;
}

th {
  background-color: gray;
}

.help-header {
  text-align: center;
  justify-self: flex-start;
  margin: 0;
  background-color: rgb(35, 72, 86);
  color: white;
  width: 100%;
}

.more-help {
  padding: 15px;
}

.copyright,
a {
  color: #f9faf8;
  writing-mode: vertical-lr;
  font-size: 0.9em;
  margin: 0;
}

.header {
  margin: 10px auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.question-sign {
  /* border-radius: 50%; */
  color: #f9faf8;
  font-size: 2rem;
  justify-self: flex-start;
  margin: 0;

  animation: glow 1s 1s 3 alternate;
  /* text-shadow: 7px 7px 0.5rem #48abe0, -7px -7px 0.5rem #48abe0,
    -7px 7px 0.5rem #48abe0, 7px -7px 0.5rem #48abe0; */
}

@keyframes glow {
  from {
    box-shadow: 0 0 15px 25px #48abe0, inset 0 0 10px 8px #48abe0;
  }
  to {
    box-shadow: 0 0 10px 10px #48abe0, inset 0 0 10px 8px #48abe0;

    /* box-shadow: none; */
  }
}
